body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d7a;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #004d7a;
    color: white;
    text-align: center;
    padding: 10px;
}
.producto {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
}

.producto img {
    width: 100%;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    background: #004d7a;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background: #0073aa;
}
